header {
    display: flex;
}
.container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.sidebar {
    padding: 5px;
    margin: 5px;
    flex: 1;
}
.sidebar a:hover {
    color: red;
}
.content {
    flex: 4;
}
.logo {
    width: 10%;
    display: inline;
}
.photoKpi {
    width: 20%;
    margin: 30px;
    box-shadow: 5px 5px 10px green;
    border-radius: 10px;
}
.photoKpi:hover {
    transform: scale(1.2);
}
footer {
    background-color: #223969;
    margin: 5px;
}
.footerTitle {
    font-weight: bold;
    margin-top: 40px;
    margin-left: 10px;
}
footer p {
    color: white;
    margin-left: 30px;
    margin-right: 100px;
}
footer p:last-child {
    margin-bottom: 50px;
}
